body {
  background-image: url(images/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  margin: 120px auto;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
